<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="./css/index.min.css")
  title Document
body
  header.header
  .warp
    aside.aside
      .nav__arrow.nav__arrow_prev
      .nav__arrow.nav__arrow_next
      nav.nav
        ul.nav__list
          li.nav__item.nav__item_activePrev2
            a.nav__link(href="#article1") Item 01
          li.nav__item.nav__item_activePrev
            a.nav__link(href="#article2") Item 02
          li.nav__item.nav__item_active
            a.nav__link(href="#article3") Item 03
          li.nav__item.nav__item_activeNext
            a.nav__link(href="#article4") Item 04
          li.nav__item.nav__item_activeNext2
            a.nav__link(href="#article5") Item 05
          li.nav__item
            a.nav__link(href="#article6") Item 06
          li.nav__item
            a.nav__link(href="#article7") Item 07
          li.nav__item
            a.nav__link(href="#article8") Item 08
          li.nav__item
            a.nav__link(href="#article9") Item 09
          li.nav__item
            a.nav__link(href="#article10") Item 10
          li.nav__item
            a.nav__link(href="#article11") Item 11
          li.nav__item
            a.nav__link(href="#article12") Item 12
          li.nav__item
            a.nav__link(href="#article13") Item 13
          li.nav__item
            a.nav__link(href="#article14") Item 14
          li.nav__item
            a.nav__link(href="#article15") Item 15
    section.section
      article.article#article1 0000000001
      article.article#article2 0000000002
      article.article#article3 0000000003
      article.article#article4 0000000004
      article.article#article5 0000000005
      article.article#article6 0000000006
      article.article#article7 0000000007
      article.article#article8 0000000008
      article.article#article9 0000000009
      article.article#article10 0000000010
      article.article#article11 0000000011
      article.article#article12 0000000012
      article.article#article13 0000000013
      article.article#article14 0000000014
      article.article#article15 0000000015
  footer.footer
  script(src="./libs/jquery/dist/jquery.min.js")
  script(src="./libs/jquery-ui/jquery-ui.min.js")
  script(src="./js/index.js")
